<div class="flex-container page-container flex-vertical full-vertical">
  <div class="flex-container flex-vertical full-vertical">
    <nav>
      <h1 class="title">Dashboard</h1>
    </nav>
    <div class="card statistic flex-container">
      <div class="statistic-item">
        <h1>2,301</h1>
        <p>Detected</p>
      </div>
      <div class="statistic-item">
        <h1>503</h1>
        <p>Valid Threats</p>
      </div>
      <div class="statistic-item">
        <h1>0</h1>
        <p>Incidents</p>
      </div>
    </div>

    <div class="card main full-vertical">
      <div class="card-title">
        <h1>Summary</h1>
        <ion-icon name="md-more"></ion-icon>
      </div>

      <canvas id="chart-line" #lineChart>{{chartLine}}</canvas>

      <div class="tooltip">
        <div class="tooltip-inner">
          <h1>201</h1>
          <p>Valid Threats</p>
        </div>

        <div class="line"></div>

        <div class="indicator">
          <p>this month</p>
          <ion-icon name="arrow-dropdown"></ion-icon>
        </div>

      </div>
    </div>
    <footer class="tab flex-container">
      <div class="tab-item">
        <ion-icon name="disc"></ion-icon>
        <p>Home</p>
      </div>
      <div class="tab-item">
        <ion-icon name="apps"></ion-icon>
        <p>Overview</p>
      </div>
      <div class="tab-item">
        <ion-icon name="archive"></ion-icon>
        <p>Statistics</p>
      </div>
    </footer>
  </div>
</div>